NETWORKS_DRIVER=bridge

VOLUMES_DRIVER=local

DATA_PATH_HOST=~/.mydock/data


### POSTGRES ##############################################

POSTGRES_DB=default
POSTGRES_USER=default
POSTGRES_PASSWORD=secret
POSTGRES_PORT=5432

### NGROK ##############################################

NGROK_AUTHTOKEN=
NGROK_URL=
NGROK_UPSTREAM=
